<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RHHS Trivia</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col"></div>
        <div class="col-10 text-center">
            <h2 class="display-3">Players Pressed:</h2>
            <form action="{{url_for('reset_game', code=code)}}" method="post">
                <div id="player1"></div>
                <div id="player2"></div>
                <div id="player3"></div>
                <button type="submit" class="btn btn-success" method="post" onclick="clearList()">Reset</button>
            </form>
        </div>
        <div class="col"></div>
    </div>

</body>
<script>
    var i = 1;

    function clearList() {
        setTimeout(() => {
            $('#player1').html('');
            $('#player2').html('');
            $('#player3').html('');
            i = 1;
        }, 1500)
    }

    function update() {
        req = $.ajax({
            url: '/{{code}}/update',
            type: 'POST'
        });

        // init: 1; --> null; i = 1; i + 1 = 2
        // 1 person: 2; --> 1; i = 1; i + 1 = 2
        // step: 3 --> 

        req.done(function (data) {
            if (data.players.length === i + 1) {
                htmlData = '<input style:"font-size:x-large;" type="checkbox" name="username" value="' + data.players[i] + '">' + data.players[i] + '<br>';
                $('#player' + i).html(htmlData);
                i++;
            }
            window.setTimeout(update, 500);
        })
    }

    update()
</script>

</html>